body {
    font-family: Calibri,sans-serif;
    font-size: 16px;
    text-decoration: none;
    background: black;
}

#background {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background: white;
}

p {
  display: block;
}

.slideshow {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.slideshow img {
    height: auto;
    width: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    font-size: 24px;
    margin-right: 3vw;
}

.content {
    margin-top: 2vh;
    text-align: justify;
}
